[Unit] 
Description=probe exporter
After=syslog.target network.target  

[Service] 
WorkingDirectory=/etc/probe_exporter
ExecStart=/etc/probe_exporter/bin/probe_exporter
Restart=on-failure 
RestartSec=10 
StandardOutput=syslog 
StandardError=syslog 

[Install] 
WantedBy=multi-user.target

